@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

body {
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
  min-width: 350px;
}

img {
  max-width: 100%;
}

nav {
  background: #79ADDC;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-family: 'Poppins';
}

nav .container .logo {
  font-weight: 700;
  color: white;
  font-size: 18px;
}

nav .container ul {
  display: flex;
  list-style: none;
}

nav .container ul li {
  margin-left: 8px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


header {
    background: #FFC09F;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 30px;
  }

header .container i {
    color: white;
    text-shadow: -1px 0 #79ADDC, 0 1px #79ADDC, 1px 0 #79ADDC, 0 -1px #79ADDC;
}

header .container h1 {
  color: white;
  text-shadow: -1px 0 #79ADDC, 0 1px #79ADDC, 1px 0 #79ADDC, 0 -1px #79ADDC;
  font-size: 2.2em;
  margin-bottom: 15px;
}

main {
    background: #FFEE93;
}

main .container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.contact-form {
    background: #79ADDC;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 30px;
}

.contact-form h2 {
    margin-bottom: 8px;
}

form > input, textarea {
    width: 100%;
    margin-bottom: 10px;
    background: #FFEE93;
    font-size: 1.3em;
    border: 1px solid black;
    padding-left: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.6; /* Firefox */
  }

  .about-section {
      background: #FFC09F;
      padding: 20px;
      margin-top: 20px;
      border-radius: 3px;
      text-align: center;
      margin-bottom: 30px;
  }


.about-section .open-to {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.about-section .open-to .open-to-card {
  background: #79ADDC;
  width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-section .open-to .open-to-card i {
  font-size: 2em;
  margin-top: 10px;
}

.about-section .open-to .open-to-card p {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.8;
}

.link-section {
  margin-bottom: 30px;
}

.link-section .links {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.link-section .links a {
  width: 18%;
}



/* Footer Styles */

footer {
    background: #FFC09F;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  
  footer .container ul {
    display: flex;
    list-style: none;
  }
  
  
  footer .container ul li {
    margin-left: 5px;
  }
  
  footer a {
    text-decoration: none;
    color: black;
  }
  


  @media screen and (min-width:389px) and (max-width: 449px) {
    .about-section .open-to .open-to-card {
      height: 110px;
    }
  }


  @media screen and (min-width:650px) {

    nav .container ul li {
      margin-left: 50px;
    }
  
  
    footer .container {
      font-size: 1em;
    }
  
    footer .container ul li {
      margin-left: 40px;
    }
  }



  @media screen and (min-width: 450px) and (max-width: 749px) {
    .contact-form {
      padding-left: 15%;
      padding-right: 15%;
    }

    .link-section .links a {
      width: 10%;
    }

    .open-to-card {
      height: 100px;
    }

    .about-section .open-to .open-to-card i {
      font-size: 2.5em;
    }

    .about-section .open-to .open-to-card p {
      font-size: 0.8em;
      margin: 10px;
    }
  }


  @media screen and (min-width: 750px) {
    .contact-form {
      padding-left: 20%;
      padding-right: 20%;
    }

    .link-section .links a {
      width: 7%;
    }

    .about-section .open-to .open-to-card {
      width: 20%;
      padding: 15px 0 15px 0;
    }
    

    .about-section .open-to .open-to-card i {
      font-size: 4em;
    }

    .about-section .open-to .open-to-card p {
      font-size: 1.1em;
      margin: 10px;
    }
  }